.info_popup {
  background: none repeat scroll 0 0 #1D305A;
  border: 1px solid #88B5F0;
  border-radius: 4px 4px 4px 4px;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-size: 0.8em;
  line-height: 1em;
  padding: 0 3px;
  text-align: center;
}
.popup_text {
  display: none;
}
